.FileManagement {
    background-color: #93a1a1;
    width: auto;
    height: 700px;
    text-align: left;
    overflow: scroll;

}



.contain {
    position: relative;
    margin: auto;
}


.folder {
    white-space: nowrap;
}

.fileStyle {
    padding-left: 25px;
    background: transparent;
    border: none;
}

.folderStyle {
    background: transparent;
    border: none;
}

.dropdown {
    background: transparent;
    border: none;
}

.addButton {
    background: transparent;
    border: none;
}

#drop1, #drop2 {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}


#main, #addmain, #src, #addsrc {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#srcFiles {
    padding-left: 25px;
    display: none;
    padding-top: 0px;
    width: 40px;
    margin: 0;
    background: transparent;
    border: none;
}


#mainFiles {
    padding-left: 29px;
    display: none;
    padding-top: 0px;
    width: 40px;
    margin: 0;
    background: transparent;
    border: none;
}

#Srcs {
    color: #322931;
    padding-top: 5px;
}

#Mains {
    color: #322931;
    display: none;
    padding-left: 28px;
}



