#add {
    position: relative;
}

#Mains {
    padding-left: 25px;
}

.container {
    z-index: 2;
    position: absolute;
}

#src {

}

#drop1, #drop2 {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#main, #src, #addsrc, #addmain {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#Mains {
    display: none;
}
